body {
    font-family: Georgia, serif;
    background-color:#d3d3d3;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    color: maroon;
    border: solid;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    font: bold;
    color: green;
  }

  span {
      color: purple;
      font-weight: bold;
  }

  .boxes{
    margin: 0;
    padding: 0;
    border: solid black;
    border-radius: 5%;
    width: 30em;
    display: block;
  }

  #box1 {
      background-color: #b19cd9;
  }

  #box2 {
      background-color: #FFB6C1;
  }

  #box3 {
      background-color: #FFFF99;
  }

  #box4 {
      background-color: #add8e6;
  }

  .epicImages {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #cc99ff;
    position: relative;
    left: 60px;
    top: 40px;
  }

  h1 {
    color: chocolate;
  }

  .original {
      color: orange;
  }

  .additional {
      color: teal;
  }

  #rank1 {
      color: red;
  }

  #rank2 {
      color: yellow;
  }

  #rank3 {
      color: green;
  }

  #rank4 {
      color: blue;
  }

  #rank5 {
       color: purple;
  }

  ul {
      color: gray;
      border: 2px solid black;
  }

  .star {
      color: purple;
  }

  #wars {
      color: orangered;
  }