body {
    font-family: Georgia, serif;
    background-color:#d3d3d3;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    color: maroon;
    border: solid;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    font: bold;
    color: green;
  }

  span {
      color: purple;
      font-weight: bold;
  }